### General ###
*.lock

### Jekyll ###
_site
.jekyll-metadata

### Sass ###
.sass-cache

### Environment normalization ###
.bundle
vendor/bundle
lib/bundler/man
package-lock.json

### HTMLProofer Cache ###
tmp
