---
layout: default
permalink: /
actions:
  -
    icon: 'twitter'
    caption: 'Twitter'
    url: 'https://twitter.com/RobotixIITKgp'
    target: '_blank'
  -
    icon: 'google-plus'
    caption: 'Google Plus'
    url: 'https://plus.google.com/102868621563384739622/'
    target: '_blank'
  -
    icon: 'youtube'
    caption: 'YouTube'
    url: 'http://www.youtube.com/robotixiitkgp'
    target: '_blank'
  -
    icon: 'facebook'
    caption: 'Facebook'
    url: 'https://facebook.com/robotixiitkgp'
    target: '_blank'
  -
    icon: 'email'
    caption: 'Contact Us'
    url: 'http://contact.robotix.in'
    target: '_blank'
---

 {% include hero.html %}

 {% include about.html %}

 {% include statistic.html %}

 {% include latest-blog.html %}

 {% include facebook-feed.html %}

 {% include subscribe.html %}
