---
layout: default
permalink: /
actions:
  -
    icon: 'twitter'
    caption: 'Twitter'
    link: 'https://twitter.com/RobotixIITKgp'
  -
    icon: 'google-plus'
    caption: 'Google Plus'
    link: 'https://plus.google.com/102868621563384739622/'
  -
    icon: 'youtube'
    caption: 'YouTube'
    link: 'http://www.youtube.com/robotixiitkgp'
  -
    icon: 'facebook'
    caption: 'Facebook'
    link: 'https://facebook.com/robotixiitkgp'
  -
    icon: 'email'
    caption: 'Contact Us'
    link: 'https://robotix.typeform.com/to/USirXsoq'
---

 {% include hero.html %}

 {% include about.html %}

 {% include statistic.html %}

 {% include latest-blog.html %}

 {% include facebook-feed.html %}

 {% include subscribe.html %}

 {% include freshers-kit.html %}
