<!-- About Section -->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3 class="animated hiding" data-animation="fadeInDown" data-delay="0">Who are we?</h3>
            <p class="text-left animated hiding" data-animation="fadeInDown" data-delay="0">{{ site.whoAreWe }}</p>
            <h3 class="animated hiding" data-animation="fadeInUp" data-delay="100">What do we do?</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="100">{{ site.whatDoWeDo }}</p>
        </div>
    </div>
</section>
<!-- End About Section -->