<!-- About Section -->
<section id="about-workshops">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3 class="animated hiding" data-animation="fadeInDown" data-delay="0">Workshops</h3>
            <p class="text-left animated hiding" data-animation="fadeInDown" data-delay="0">{{ site.data.workshops.about }}</p>
        </div>
        <a class="typeform-share button" href="https://pranitbauva.typeform.com/to/K1Pvis" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:40px;text-align:center;margin:0;height:40px;padding:0px 26px;border-radius:20px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Contact us for workshops</a><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm_share",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>
</section>
<!-- End About Section -->
