<!-- Begin Events List-->
<section id="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 appear-animation-trigger">
            {% for event in site.events %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: event.logo }})">
                        <a class="overlay solid-overlay" href="{{ site.baseurl }}{{ event.url }}"></a>
                        <ul class="ribbon-wrapper">
                            <li>
                                <p class="ribbon abbr">{{ event.subTitle | truncate: 1 }}</p>
                                <p class="ribbon full-title">{{ event.subTitle }}</p>
                            </li>
                        </ul>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name"><a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ event.subTitle }}</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Events List
