<!-- Begin Facebook Feed Section -->
<section id="facebook-feed" class="facebook-feed image-section parallax">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <svg class="icn" viewBox="-10 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.min.svg#icon-facebook"></use>
            </svg>
            <h3>{{ site.FbFeedTitle }}<br /><a href="https://facebook.com/robotixiitkgp" target="_blank">#{{ site.FbHashTag }}</a>
            </h3>
        </div>
    </div>
</section>
<!-- End Facebook Feed Section -->
