<!-- Begin Freshers' Kit Registration Section -->
<section id="Fresher-kit-form" class="Fresher-kit-form">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3>Freshers' Kit Registration</h3>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd7OxcVauirOU4Ans2hwCSTzf7-ku7WynlEN0jcrxP4vEf5_Q/viewform?embedded=true" width="640" height="477" frameborder="0" marginheight="0" marginwidth="0" style="margin:0 auto !important;display:block !important; @media (max-width:700px){width:100%;}">Loading…</iframe>
    </div>
  </div>
</section>
<!-- End Freshers' Kit Registration Section -->
