<!-- Begin Freshers' Kit Registration Section -->
<section id="Fresher-kit-form" class="Fresher-kit-form">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3>Freshers' Kit Registration</h3>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfm_iVHbbIVVGhVET6hM4Wxq4lTHUZ9J2eRcdjG_7gEMcP5pQ/viewform?embedded=true" width="640" height="477" frameborder="0" marginheight="0" marginwidth="0"
        style="margin:0 auto !important;display:block !important;">Loading…</iframe>
    </div>
  </div>
</section>
<!-- End Freshers' Kit Registration Section -->
