.btn {
    font-weight: $bold;
    transition: $base-cubic-transition;
}
.btn-primary {
    color: #fff !important;
    user-select: none;
    text-transform: uppercase;
    border: 0;
    background: $primary-color !important;
    &:hover, &:focus, &:active, &.active {
        outline: none;
        color: #fff;
        background: $primary-color-hover;
    }
}
.btn-fab {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 24px;
    bottom: 24px;
    border-radius: 50%;
    background: #4285F4 none repeat scroll 0% 0% !important;
    z-index: 9999;
}
