ul.fab {
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 9999;
    list-style: none;
    .btn {
        width: 40px;
        height: 40px;
        transition: $long-backward-transition;
        &.btn-danger {
            width: 60px;
            height: 60px;
            right: -10px;
            &.rotate {
                transform: rotate(45deg);
            }
            &.fab-hide {
                transform: translateY(50px);
                opacity: 0;
            }
        }
        .fab-text {
            display: inline;
        }
    }
    li {
        text-align: right;
        padding-top: 8px;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        opacity: 0.8;
        .tooltip-inner {
            white-space: pre;
            max-width: none;
        }
    }
}
