---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {% include top-section.html %}

                {% include post.html isStaticPost=page.isStaticPost %} 
                
                {% include footer.html %}

            </div>
        </div>
    </div>

    {% if page.action %}
        {% include fab.html %}
    {% endif %}

    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"><\/script>')
    </script>
    <script>
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"><\/script>')
    </script>
    <script src="{{ "/js/default.min.js" | prepend: site.baseurl }}"></script>
    <script>Waves.displayEffect();</script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
</body>

</html>